/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: 'Fira Sans', sans-serif;
  height: 5000px;
  width: 100%;
  height: 100%; }

body {
  overflow-x: hidden; }

section {
  width: 100vw; }

article {
  box-sizing: border-box; }

*:focus {
  outline-color: #ec0064; }

*::selection {
  background: #ec0064;
  color: #fff; }

input[type='text']:focus, textarea:focus {
  outline: #ec0064 solid 1px; }

input[type='submit']:focus {
  outline: none; }

article {
  text-transform: uppercase;
  color: #505050; }
  article h1 {
    font-size: 2.6em; }
  article p {
    font-size: 1em;
    line-height: 32px;
    margin-top: 2.6em;
    margin-bottom: 4em; }
  article a {
    text-decoration: none;
    color: #505050;
    transition: color .2s ease-out; }
    article a:hover {
      color: #ec0064; }
    article a:after {
      content: "|";
      margin-left: 10px; }
    article a:last-of-type:after {
      content: ""; }

.load {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100; }
  .load span {
    position: absolute;
    width: 150px;
    height: 300px;
    border: 4px solid #ec0064;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/************************** N A V **************************/
nav {
  border: 3px solid #ec0064;
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 40px;
  right: 8vw; }
  nav ul {
    padding: 10px 10px 10px 40px; }
  nav li {
    color: #b9b9b9;
    font-size: 36px;
    text-align: center; }
    nav li a {
      text-decoration: none;
      color: #b9b9b9; }
      nav li a:hover {
        color: #000; }
        nav li a:hover span {
          display: inline; }
    nav li:nth-of-type(2) {
      padding: 18px 0; }
    nav li span {
      position: absolute;
      display: none;
      color: #000; }

/************************** H O M E **************************/
#home {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw; }
  #home .intro {
    top: 0px;
    text-transform: uppercase;
    position: absolute;
    display: inline-block;
    padding: 40px;
    right: 12vw; }
    #home .intro h1 {
      font-size: 2em; }
    #home .intro h2 {
      font-size: 1em;
      text-align: right;
      color: #b9b9b9; }

.description {
  position: absolute;
  top: 14vw;
  left: 4vw;
  width: 40vw;
  color: #505050;
  padding: 20px 20px 20px 0; }
  .description:before {
    width: 3px;
    height: 100%;
    background: #ec0064; }
  .description p {
    font-size: 1.4em;
    line-height: 1.6em;
    border-left: 3px solid #ec0064;
    padding-left: 20px; }

.skills {
  flex-wrap: wrap;
  color: #505050;
  position: absolute;
  right: 14vw;
  bottom: 24vh; }
  .skills li {
    width: 64px;
    height: 64px;
    margin: 0 10px; }
    .skills li img {
      width: 100%; }
  .skills .developing {
    display: flex;
    align-items: center; }
  .skills h1 {
    margin-right: 40px;
    font-size: 1.4em; }
  .skills .want {
    margin-top: 4vw;
    display: flex;
    align-items: center; }

.social {
  position: absolute;
  left: 4vw;
  bottom: 10vh; }
  .social ul {
    display: flex;
    align-items: center; }
  .social h1 {
    text-transform: lowercase;
    color: #505050;
    margin-right: 30px;
    font-size: 1.4em; }
  .social li {
    width: 48px;
    height: 48px;
    margin: 0 10px; }
    .social li img {
      width: 100%; }

/************************** W O R K S **************************/
.something {
  margin-top: 300px;
  width: 100%;
  height: 24vw;
  display: flex;
  position: relative; }
  .something .image {
    position: relative;
    background: -webkit-radial-gradient(black 10%, transparent 10%), -webkit-radial-gradient(black 10%, transparent 10%), white;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    width: 768px; }
    .something .image img {
      width: 100%;
      position: absolute;
      left: -40px;
      bottom: 20px; }
  .something .something-description-container {
    width: 960px;
    position: relative; }
    .something .something-description-container article {
      width: 570px;
      height: auto;
      margin-left: 10%;
      top: 300px;
      position: absolute; }

.anything {
  margin-top: 10vw;
  display: flex; }
  .anything .anything-image-wrapper {
    margin-left: -4vw;
    position: relative;
    background: linear-gradient(90deg, transparent 20%, #ec0064 80%);
    order: 2;
    width: 768px;
    height: 18vw; }
    .anything .anything-image-wrapper img {
      width: 90%;
      top: 0px;
      left: 5px;
      position: absolute; }
  .anything .anything-description-container {
    width: 768px;
    position: relative; }
  .anything article {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 600px;
    text-align: center;
    order: 1;
    background: #fff;
    padding: 10px 40px; }

.stayathome {
  margin-top: 40vw;
  display: flex; }
  .stayathome .stayathome-image-wrapper {
    width: 960px;
    position: relative; }
    .stayathome .stayathome-image-wrapper img {
      width: 90%;
      position: absolute;
      right: 0;
      top: 800px; }
  .stayathome .stayathome-description-container {
    position: relative;
    width: 576px; }
  .stayathome article {
    position: absolute;
    width: 100%;
    top: 900px;
    padding: 20px 60px;
    margin: 60px 0 0 -120px;
    background: #fff;
    box-sizing: border-box;
    border-right: 2px solid #ec0064;
    z-index: 1; }

.top {
  margin-top: 15vw;
  display: flex;
  position: relative; }
  .top .background-polka {
    position: absolute;
    top: -600px;
    left: 0;
    width: 768px;
    height: 10vw;
    z-index: -1;
    background: -webkit-radial-gradient(#ec0064 10%, transparent 10%), -webkit-radial-gradient(#ec0064 10%, transparent 10%), white;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px; }
  .top .background-polka2 {
    position: absolute;
    top: 42vw;
    right: 50%;
    width: 192px;
    height: 192px;
    z-index: -1;
    background: -webkit-radial-gradient(#ec0064 10%, transparent 10%), -webkit-radial-gradient(#ec0064 10%, transparent 10%), transparent;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px; }
  .top .background-strip {
    position: absolute;
    top: -36vw;
    right: 45%;
    width: 12vw;
    height: 15vw;
    z-index: -1;
    background: transparent;
    border: 2px solid #ec0064; }
  .top .top-image-wrapper {
    margin-left: auto;
    order: 2;
    width: 960px;
    position: relative; }
    .top .top-image-wrapper img {
      width: 100%;
      position: absolute;
      top: 15vw; }
  .top .top-description-container {
    position: relative;
    width: 480px; }
  .top article {
    position: absolute;
    left: 6vw;
    top: 900px;
    width: 100%;
    background: #fff;
    padding: 20px; }

.portfolio-concept {
  margin-top: 94vw;
  display: flex;
  height: 2px;
  justify-content: center;
  position: relative; }
  .portfolio-concept .concept-image-wrapper {
    width: 768px;
    position: relative;
    margin-left: -10vw; }
    .portfolio-concept .concept-image-wrapper img {
      width: 100%;
      position: absolute;
      top: 38vw; }
    .portfolio-concept .concept-image-wrapper:after {
      content: '';
      position: absolute;
      top: -9vw;
      left: 8vw;
      width: 576px;
      height: 26vw;
      z-index: -1;
      background: -webkit-radial-gradient(#ec0064 10%, transparent 10%), -webkit-radial-gradient(#ec0064 10%, transparent 10%), transparent;
      background-position: 0 0, 10px 10px;
      background-size: 20px 20px; }
  .portfolio-concept .concept-description-container {
    position: relative;
    width: 576px;
    margin-top: 0; }
    .portfolio-concept .concept-description-container article {
      position: absolute;
      top: -44vw;
      width: 100%;
      margin-left: 40px;
      margin-top: 40px; }

.portfolio-concept2 {
  position: relative;
  display: flex;
  margin-top: 50vw; }
  .portfolio-concept2 .background-polka-concept2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 384px;
    height: 576px;
    z-index: -1;
    background: -webkit-radial-gradient(#ec0064 10%, transparent 10%), -webkit-radial-gradient(#ec0064 10%, transparent 10%), transparent;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px; }
  .portfolio-concept2 .background-strip-concept2 {
    position: absolute;
    top: 15vw;
    left: 12vw;
    width: 384px;
    height: 192px;
    border: 2px solid #ec0064;
    z-index: -1; }
  .portfolio-concept2 .background-strip2-concept2 {
    position: absolute;
    top: -10vw;
    right: 14vw;
    width: 960px;
    height: 384px;
    border: 1px solid #ec0064;
    z-index: -1; }
  .portfolio-concept2 .concept2-image-wrapper {
    order: 2;
    position: relative;
    width: 1152px; }
    .portfolio-concept2 .concept2-image-wrapper img {
      left: 0vw;
      top: 40vw;
      width: 100%;
      position: absolute; }
  .portfolio-concept2 .concept2-description-container {
    position: relative;
    width: 30vw;
    margin-top: 6vw; }
    .portfolio-concept2 .concept2-description-container article {
      width: 576px;
      left: 10vw;
      position: absolute;
      z-index: 1;
      background: #fff;
      padding: 20px 20px 20px 40px;
      top: 110vw; }

.portfolio-concept3 {
  height: 10px;
  display: flex;
  margin-top: 50vw;
  position: relative; }
  .portfolio-concept3 .background-polka-concept3 {
    position: absolute;
    top: -4vw;
    left: 20vw;
    width: 960px;
    height: 300px;
    z-index: -1;
    background: -webkit-radial-gradient(#ec0064 10%, transparent 10%), -webkit-radial-gradient(#ec0064 10%, transparent 10%), transparent;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px; }
  .portfolio-concept3 .concept3-image-wrapper {
    position: relative;
    width: 768px; }
    .portfolio-concept3 .concept3-image-wrapper img {
      top: 50vw;
      left: 0;
      width: 100%;
      position: absolute; }
  .portfolio-concept3 .concept3-description-container {
    position: relative;
    width: 768px;
    margin-left: 4vw; }
    .portfolio-concept3 .concept3-description-container article {
      top: 100vw;
      position: absolute;
      background: #fff;
      padding: 20px; }

.nivea {
  height: 10px;
  display: flex;
  margin-top: 50vw;
  position: relative; }
  .nivea .background-polka-nivea {
    position: absolute;
    top: 30vw;
    left: 10vw;
    width: 500px;
    height: 400px;
    z-index: -1;
    background: -webkit-radial-gradient(#ec0064 10%, transparent 10%), -webkit-radial-gradient(#ec0064 10%, transparent 10%), transparent;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px; }
  .nivea .nivea-image-wrapper {
    position: relative;
    width: 768px;
    order: 2; }
    .nivea .nivea-image-wrapper img {
      top: 50vw;
      left: 0;
      width: 100%;
      position: absolute; }
  .nivea .nivea-description-container {
    position: relative;
    width: 768px;
    margin-top: 10vw;
    margin-left: 4vw; }
    .nivea .nivea-description-container article {
      top: 100vw;
      position: absolute;
      background: #fff;
      padding: 20px; }

.archina {
  height: 10px;
  display: flex;
  margin-top: 40vw;
  position: relative; }
  .archina .background-polka-archina {
    position: absolute;
    top: 30vw;
    left: 20vw;
    width: 960px;
    height: 300px;
    z-index: -1;
    background: -webkit-radial-gradient(#ec0064 10%, transparent 10%), -webkit-radial-gradient(#ec0064 10%, transparent 10%), transparent;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px; }
  .archina .archina-image-wrapper {
    position: relative;
    width: 768px; }
    .archina .archina-image-wrapper img {
      top: 50vw;
      left: 0;
      width: 100%;
      position: absolute; }
  .archina .archina-description-container {
    position: relative;
    width: 768px;
    margin-left: 4vw;
    margin-top: 20vw; }
    .archina .archina-description-container article {
      top: 100vw;
      position: absolute;
      background: #fff;
      padding: 20px; }

.portfolio-concept4 {
  margin-top: 94vw;
  display: flex;
  height: 2px;
  justify-content: center;
  position: relative; }
  .portfolio-concept4 .concept4-image-wrapper {
    width: 768px;
    position: relative;
    margin-left: -10vw; }
    .portfolio-concept4 .concept4-image-wrapper img {
      width: 100%;
      position: absolute;
      top: 38vw; }
  .portfolio-concept4 .concept4-description-container {
    position: relative;
    width: 576px;
    margin-top: -10vw; }
    .portfolio-concept4 .concept4-description-container article {
      position: absolute;
      top: -44vw;
      width: 100%;
      margin-left: 40px;
      margin-top: 40px; }

#contact {
  margin-top: 0vw;
  padding: 80px 0;
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  #contact .background-polka-contact {
    position: absolute;
    top: 0;
    left: 0;
    width: 268px;
    height: 576px;
    z-index: -1;
    background: -webkit-radial-gradient(#ec0064 10%, transparent 10%), -webkit-radial-gradient(#ec0064 10%, transparent 10%), transparent;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px; }
  #contact .background-polka-contact2 {
    position: absolute;
    bottom: 2vw;
    right: 10vw;
    width: 768px;
    height: 576px;
    z-index: -1;
    background: -webkit-radial-gradient(#ec0064 10%, transparent 10%), -webkit-radial-gradient(#ec0064 10%, transparent 10%), transparent;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px; }
  #contact .background-strip-contact {
    position: absolute;
    bottom: 8vh;
    left: 16vw;
    width: 192px;
    height: 384px;
    border: 2px solid #ec0064;
    z-index: -1; }
  #contact h1 {
    font-size: 2em;
    color: #505050;
    margin-bottom: 40px;
    text-align: center; }
  #contact form {
    display: flex;
    flex-direction: column;
    width: 40vw;
    background: #fff;
    padding: 4vh 10vw; }
    #contact form input, #contact form textarea {
      margin: 15px 0;
      border: 1px solid #b9b9b9;
      resize: none; }
    #contact form input[type='text'] {
      height: 40px;
      text-indent: 10px; }
    #contact form input[type='submit'] {
      height: auto;
      background: #ec0064;
      color: #fff;
      border: none;
      font-size: 1.4em;
      line-height: 2em; }
    #contact form textarea {
      height: 200px;
      text-indent: 10px; }

@media only screen and (max-width: 1600px) {
  .top {
    margin-top: 25vw; }

  .portfolio-concept2 .background-strip2-concept2 {
    right: 6vw; } }
@media only screen and (max-width: 1450px) {
  #home .intro {
    right: 16vw; }

  .description, .social {
    left: 6vw; }

  .skills li {
    width: 56px;
    height: 56px; }

  .social {
    bottom: 4vw; }
    .social li {
      width: 40px;
      height: 40px; }

  .something {
    height: 20vw; }
    .something .something-description-container {
      top: -16vw; }
      .something .something-description-container article {
        z-index: 3;
        background: #fff; }

  .anything {
    margin-top: 15vw; }
    .anything .anything-image-wrapper {
      width: 576px; }

  .top {
    margin-top: 45vw; }
    .top .background-polka {
      top: -600px; }
    .top .background-strip {
      height: 20vw;
      top: -40vw; }
    .top article {
      top: 800px; }

  .portfolio-concept {
    margin-top: 110vw; }
    .portfolio-concept .concept-image-wrapper:after {
      top: -20vw;
      height: 34vw; }
    .portfolio-concept .concept-description-container article {
      top: -66vw;
      z-index: 3;
      background: #fff;
      width: 300px; }

  .portfolio-concept2 {
    margin-top: 60vw; }
    .portfolio-concept2 .background-polka-concept2 {
      top: -6vw;
      height: 440px; }
    .portfolio-concept2 .background-strip-concept2 {
      top: 6vw; }
    .portfolio-concept2 .background-strip2-concept2 {
      width: 576px;
      height: 150px;
      top: -16vw; }
    .portfolio-concept2 .concept2-image-wrapper {
      width: 768px; }
      .portfolio-concept2 .concept2-image-wrapper img {
        left: 6vw; }
    .portfolio-concept2 .concept2-description-container article {
      width: 480px;
      top: 126vw;
      left: 8vw; }

  .portfolio-concept3 {
    margin-top: 60vw; }
    .portfolio-concept3 .background-polka-concept3 {
      left: 0;
      top: -14vw; }
    .portfolio-concept3 .concept3-description-container article {
      top: 110vw;
      z-index: 3;
      width: 200px;
      background: #fff; }

  .portfolio-concept4 {
    margin-top: 110vw; }
    .portfolio-concept4 .concept4-description-container article {
      top: -66vw;
      z-index: 3;
      background: #fff;
      width: 300px; }

  #contact .background-polka-contact2 {
    width: 576px; } }
@media only screen and (max-width: 1280px) {
  article {
    font-size: 14px;
    padding: 0 10px; }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .something, .anything, .stayathome, .top, .portfolio-concept, .portfolio-concept2, .portfolio-concept3, .nivea, .archina, .portfolio-concept4 {
    flex-direction: column;
    position: relative;
    width: 70vw;
    height: auto; }
    .something h1, .anything h1, .stayathome h1, .top h1, .portfolio-concept h1, .portfolio-concept2 h1, .portfolio-concept3 h1, .nivea h1, .archina h1, .portfolio-concept4 h1 {
      font-size: 2.2em; }

  nav {
    z-index: 99;
    margin: 0;
    width: 100%;
    background: #ec0064;
    top: 0;
    right: 0;
    position: fixed;
    border: 0; }
    nav ul {
      display: flex;
      width: 100%;
      align-items: center;
      padding: 0; }
    nav li {
      width: 30%; }
      nav li a {
        color: #fff;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center; }
        nav li a span {
          display: inline;
          color: #fff; }

  #home {
    width: 100vw;
    height: auto; }
    #home .intro {
      display: none;
      top: 0;
      padding: 0;
      left: 0;
      width: 300px; }
      #home .intro h1 {
        text-align: right; }

  .description {
    position: relative;
    margin-top: 150px;
    left: 0;
    top: 0;
    width: 100vw; }
    .description p {
      border-left: 4px solid #ec0064; }

  .skills {
    position: relative;
    margin-top: 200px;
    border-right: 4px solid #ec0064;
    right: 0;
    top: 0; }
    .skills ul {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
    .skills li {
      width: 48px;
      height: 48px;
      margin: 20px 20px; }
    .skills h1 {
      width: 100%;
      text-align: center;
      margin: 0; }
    .skills .want {
      margin-top: 100px; }

  .social {
    box-sizing: border-box;
    border-left: 4px solid #ec0064;
    top: 0;
    left: 0;
    position: relative;
    margin-top: 100px; }
    .social h1 {
      width: 100%;
      text-align: center;
      margin: 0; }
    .social ul {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
    .social li {
      margin: 20px; }

  #works {
    margin-top: 150px; }

  .something {
    background-size: 0;
    margin-top: 0; }
    .something .image {
      z-index: 3;
      width: 100%;
      left: 0;
      top: 0;
      background-size: 0;
      height: auto; }
      .something .image img {
        position: relative;
        width: 100%;
        left: 0;
        top: 0; }
    .something .something-description-container {
      margin-top: 60px;
      width: 100%;
      top: 0; }
      .something .something-description-container article {
        border-left: 4px solid #ec0064;
        top: 0;
        width: 100%;
        position: relative;
        margin-left: 0; }

  .anything {
    margin-top: 150px; }
    .anything .anything-image-wrapper {
      margin: 0;
      margin-top: 50px;
      height: auto;
      top: 0;
      width: 100%; }
      .anything .anything-image-wrapper img {
        top: 0;
        position: relative;
        width: 100%;
        left: 0; }
    .anything .anything-description-container {
      top: 0;
      width: 100%; }
      .anything .anything-description-container article {
        top: 0;
        position: relative;
        width: 100%;
        padding: 0 10px; }
        .anything .anything-description-container article p {
          padding: 0; }

  .stayathome .stayathome-image-wrapper {
    top: 0;
    width: 100%; }
    .stayathome .stayathome-image-wrapper img {
      width: 100%;
      position: relative;
      top: 0; }
  .stayathome .stayathome-description-container {
    margin-top: 50px;
    top: 0;
    width: 100%; }
    .stayathome .stayathome-description-container article {
      position: relative;
      top: 0;
      width: 100%;
      margin: 0;
      padding: 0 10px; }

  .top .background-polka {
    width: 40%;
    height: 30vw;
    top: -10vw; }
  .top .background-polka2 {
    width: 20vw;
    display: none; }
  .top .background-strip {
    width: 10vw;
    display: none; }
  .top .top-image-wrapper {
    margin-top: 50px;
    top: 0;
    height: auto;
    width: 100%; }
    .top .top-image-wrapper img {
      position: relative;
      top: 0; }
  .top .top-description-container {
    width: 100%; }
    .top .top-description-container article {
      position: relative;
      left: 0;
      top: 0;
      padding: 0 10px; }

  .portfolio-concept {
    margin-top: 250px; }
    .portfolio-concept .concept-image-wrapper {
      top: 0;
      width: 100%;
      margin: 0; }
      .portfolio-concept .concept-image-wrapper:after {
        width: 50vw; }
      .portfolio-concept .concept-image-wrapper img {
        width: 100%;
        position: relative;
        top: 0; }
    .portfolio-concept .concept-description-container {
      margin-top: 50px;
      width: 100%;
      margin-left: 0; }
      .portfolio-concept .concept-description-container article {
        width: 100%;
        overflow: hidden;
        margin: 0;
        position: relative;
        top: 0; }

  .portfolio-concept2 .background-polka-concept2 {
    width: 60%;
    height: 20vw;
    top: 0; }
  .portfolio-concept2 .background-strip-concept2 {
    width: 50vw;
    display: none; }
  .portfolio-concept2 .background-strip2-concept2 {
    width: 50vw;
    display: none; }
  .portfolio-concept2 .concept2-image-wrapper {
    margin-top: 50px;
    width: 100%; }
    .portfolio-concept2 .concept2-image-wrapper img {
      position: relative;
      top: 0;
      left: 0; }
  .portfolio-concept2 .concept2-description-container {
    width: 100%; }
    .portfolio-concept2 .concept2-description-container article {
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      padding: 0 10px;
      box-sizing: border-box;
      border-right: 4px solid #ec0064; }

  .portfolio-concept3 .background-polka-concept3 {
    width: 50%;
    display: none; }
  .portfolio-concept3 .concept3-image-wrapper {
    width: 100%; }
    .portfolio-concept3 .concept3-image-wrapper img {
      position: relative;
      top: 0;
      left: 0; }
  .portfolio-concept3 .concept3-description-container {
    margin: 0;
    margin-top: 50px;
    width: 100%;
    box-sizing: border-box;
    border-left: 4px solid #ec0064; }
    .portfolio-concept3 .concept3-description-container article {
      width: 100%;
      padding: 0 10px;
      margin: 0;
      left: 0;
      top: 0;
      position: relative; }

  .nivea .background-polka-nivea {
    width: 50%;
    display: none; }
  .nivea .nivea-image-wrapper {
    width: 100%; }
    .nivea .nivea-image-wrapper img {
      position: relative;
      top: 0;
      left: 0; }
  .nivea .nivea-description-container {
    margin: 0;
    margin-bottom: 50px;
    width: 100%;
    box-sizing: border-box;
    border-left: 4px solid #ec0064; }
    .nivea .nivea-description-container article {
      width: 100%;
      padding: 0 10px;
      margin: 0;
      left: 0;
      top: 0;
      position: relative; }

  .archina .background-polka-archina {
    width: 50%;
    display: none; }
  .archina .archina-image-wrapper {
    width: 100%; }
    .archina .archina-image-wrapper img {
      position: relative;
      top: 0;
      left: 0; }
  .archina .archina-description-container {
    margin: 0;
    margin-top: 50px;
    width: 100%;
    box-sizing: border-box;
    border-left: 4px solid #ec0064; }
    .archina .archina-description-container article {
      width: 100%;
      padding: 0 10px;
      margin: 0;
      left: 0;
      top: 0;
      position: relative; }

  .portfolio-concept4 {
    margin-top: 250px; }
    .portfolio-concept4 .concept4-image-wrapper {
      top: 0;
      width: 100%;
      margin: 0; }
      .portfolio-concept4 .concept4-image-wrapper:after {
        width: 50vw; }
      .portfolio-concept4 .concept4-image-wrapper img {
        width: 100%;
        position: relative;
        top: 0; }
    .portfolio-concept4 .concept4-description-container {
      margin-top: 50px;
      width: 100%;
      margin-left: 0; }
      .portfolio-concept4 .concept4-description-container article {
        width: 100%;
        overflow: hidden;
        margin: 0;
        position: relative;
        top: 0; }

  #contact {
    margin-top: 20vw; }
    #contact form {
      width: 60%; }
    #contact .background-strip-contact {
      width: 50%; }
    #contact .background-polka-contact2 {
      width: 50%; }
    #contact .background-polka-contact {
      width: 50%; } }
@media only screen and (max-width: 650px) {
  .something, .anything, .stayathome, .top, .portfolio-concept, .portfolio-concept2, .portfolio-concept3, .nivea, .archina, .portfolio-concept4 {
    width: 100vw; }

  #contact form {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
